In [144]:
import pandas as pd

In [145]:
df = pd.read_csv("train(2).csv")
df.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.6,Low Sugar,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.6,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.6,Low Sugar,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.6,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [146]:
df.shape

(4990, 13)

In [147]:
df.info()# just item weigh and store size have null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
Item_ID                4990 non-null object
Store_ID               4990 non-null object
Item_Store_ID          4990 non-null object
Item_Weight            4188 non-null float64
Item_Sugar_Content     4990 non-null object
Item_Visibility        4990 non-null float64
Item_Type              4990 non-null object
Item_Price             4990 non-null float64
Store_Start_Year       4990 non-null int64
Store_Size             3540 non-null object
Store_Location_Type    4990 non-null object
Store_Type             4990 non-null object
Item_Store_Returns     4990 non-null float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [148]:
#check for unique values
df.nunique()

Item_ID                1451
Store_ID                 10
Item_Store_ID          4990
Item_Weight             399
Item_Sugar_Content        3
Item_Visibility        4638
Item_Type                16
Item_Price             3522
Store_Start_Year          9
Store_Size                3
Store_Location_Type       3
Store_Type                4
Item_Store_Returns     2686
dtype: int64

In [149]:
#the descriptive statistics of the numerical features
df.describe()

,Item_Weight,Item_Visibility,Item_Price,Store_Start_Year,Item_Store_Returns
count,4188.000000,4990.000000,4990.000000,4990.000000,4990.000000
mean,12.908838,0.066916,391.803796,2004.783567,6103.520164
std,4.703256,0.053058,119.378259,8.283151,4447.333835
min,4.555000,0.000000,78.730000,1992.000000,83.230000
25%,8.767500,0.027273,307.890000,1994.000000,2757.660000
50%,12.600000,0.053564,393.860000,2006.000000,5374.675000
75%,17.100000,0.095358,465.067500,2011.000000,8522.240000
max,21.350000,0.328391,667.220000,2016.000000,32717.410000

In [150]:
#check for total number of null values
df.isnull().sum()

Item_ID                   0
Store_ID                  0
Item_Store_ID             0
Item_Weight             802
Item_Sugar_Content        0
Item_Visibility           0
Item_Type                 0
Item_Price                0
Store_Start_Year          0
Store_Size             1450
Store_Location_Type       0
Store_Type                0
Item_Store_Returns        0
dtype: int64

In [151]:
#using simple imputer to replace null values of item weight with the mode
import numpy as np
from sklearn.impute import SimpleImputer
weigh_impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
df[["Item_Weight"]] = weigh_impute.fit_transform(df[["Item_Weight"]]) #fills with the mode

In [152]:
#using simple imputer to replace null values of item weight with the mode
from sklearn.impute import SimpleImputer
size_impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
df[["Store_Size"]] = size_impute.fit_transform(df[["Store_Size"]]) #fills with the mode

In [153]:
#no more null values
df.isnull().sum()

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
Item_Store_Returns     0
dtype: int64

In [154]:
#drop columns with different IDs
df = df.drop(["Item_ID","Store_ID","Item_Store_ID","Store_Start_Year"],axis = "columns")

In [155]:
df.head()

,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,11.6,Low Sugar,0.068535,Soft Drinks,357.54,Medium,Cluster 3,Grocery Store,709.08
1,11.6,Low Sugar,0.040912,Soft Drinks,355.79,High,Cluster 3,Supermarket Type1,6381.69
2,11.6,Low Sugar,0.041178,Soft Drinks,350.79,Medium,Cluster 2,Supermarket Type1,6381.69
3,11.6,Low Sugar,0.041113,Soft Drinks,355.04,Medium,Cluster 3,Supermarket Type2,2127.23
4,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,Small,Cluster 2,Supermarket Type1,2481.77

In [156]:
X = df.drop(["Item_Store_Returns"],axis= "columns")#feature set

In [157]:
y = df["Item_Store_Returns"]#target variable

In [158]:
X.head()

,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Size,Store_Location_Type,Store_Type
0,11.6,Low Sugar,0.068535,Soft Drinks,357.54,Medium,Cluster 3,Grocery Store
1,11.6,Low Sugar,0.040912,Soft Drinks,355.79,High,Cluster 3,Supermarket Type1
2,11.6,Low Sugar,0.041178,Soft Drinks,350.79,Medium,Cluster 2,Supermarket Type1
3,11.6,Low Sugar,0.041113,Soft Drinks,355.04,Medium,Cluster 3,Supermarket Type2
4,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,Small,Cluster 2,Supermarket Type1

In [159]:
y.head()

0     709.08
1    6381.69
2    6381.69
3    2127.23
4    2481.77
Name: Item_Store_Returns, dtype: float64

In [160]:
#encode the categorical variables using column transformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [161]:
Item_Sugar_Content = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[1])],remainder="passthrough")
X = pd.DataFrame(Item_Sugar_Content.fit_transform(X),columns = Item_Sugar_Content.get_feature_names())

In [162]:
Item_Sugar_Content.get_feature_names()

['encoder__x0_Low Sugar',
 'encoder__x0_Normal Sugar',
 'encoder__x0_Ultra Low Sugar',
 'Item_Weight',
 'Item_Visibility',
 'Item_Type',
 'Item_Price',
 'Store_Size',
 'Store_Location_Type',
 'Store_Type']

In [163]:
item_type = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[5])],remainder="passthrough")
X = pd.DataFrame(item_type.fit_transform(X),columns = item_type.get_feature_names())

In [164]:
item_type.get_feature_names()

['encoder__x0_Baking Goods',
 'encoder__x0_Breads',
 'encoder__x0_Breakfast',
 'encoder__x0_Canned',
 'encoder__x0_Dairy',
 'encoder__x0_Frozen Foods',
 'encoder__x0_Fruits and Vegetables',
 'encoder__x0_Hard Drinks',
 'encoder__x0_Health and Hygiene',
 'encoder__x0_Household',
 'encoder__x0_Meat',
 'encoder__x0_Others',
 'encoder__x0_Seafood',
 'encoder__x0_Snack Foods',
 'encoder__x0_Soft Drinks',
 'encoder__x0_Starchy Foods',
 'encoder__x0_Low Sugar',
 'encoder__x0_Normal Sugar',
 'encoder__x0_Ultra Low Sugar',
 'Item_Weight',
 'Item_Visibility',
 'Item_Price',
 'Store_Size',
 'Store_Location_Type',
 'Store_Type']

In [165]:
store_size = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[22])],remainder="passthrough")
X = pd.DataFrame(store_size.fit_transform(X),columns = store_size.get_feature_names())

In [166]:
store_size.get_feature_names()

['encoder__x0_High',
 'encoder__x0_Medium',
 'encoder__x0_Small',
 'encoder__x0_Baking Goods',
 'encoder__x0_Breads',
 'encoder__x0_Breakfast',
 'encoder__x0_Canned',
 'encoder__x0_Dairy',
 'encoder__x0_Frozen Foods',
 'encoder__x0_Fruits and Vegetables',
 'encoder__x0_Hard Drinks',
 'encoder__x0_Health and Hygiene',
 'encoder__x0_Household',
 'encoder__x0_Meat',
 'encoder__x0_Others',
 'encoder__x0_Seafood',
 'encoder__x0_Snack Foods',
 'encoder__x0_Soft Drinks',
 'encoder__x0_Starchy Foods',
 'encoder__x0_Low Sugar',
 'encoder__x0_Normal Sugar',
 'encoder__x0_Ultra Low Sugar',
 'Item_Weight',
 'Item_Visibility',
 'Item_Price',
 'Store_Location_Type',
 'Store_Type']

In [167]:
Store_Location_Type = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[25])],remainder="passthrough")
X = pd.DataFrame(Store_Location_Type.fit_transform(X),columns = Store_Location_Type.get_feature_names())

In [168]:
Store_Location_Type.get_feature_names()

['encoder__x0_Cluster 1',
 'encoder__x0_Cluster 2',
 'encoder__x0_Cluster 3',
 'encoder__x0_High',
 'encoder__x0_Medium',
 'encoder__x0_Small',
 'encoder__x0_Baking Goods',
 'encoder__x0_Breads',
 'encoder__x0_Breakfast',
 'encoder__x0_Canned',
 'encoder__x0_Dairy',
 'encoder__x0_Frozen Foods',
 'encoder__x0_Fruits and Vegetables',
 'encoder__x0_Hard Drinks',
 'encoder__x0_Health and Hygiene',
 'encoder__x0_Household',
 'encoder__x0_Meat',
 'encoder__x0_Others',
 'encoder__x0_Seafood',
 'encoder__x0_Snack Foods',
 'encoder__x0_Soft Drinks',
 'encoder__x0_Starchy Foods',
 'encoder__x0_Low Sugar',
 'encoder__x0_Normal Sugar',
 'encoder__x0_Ultra Low Sugar',
 'Item_Weight',
 'Item_Visibility',
 'Item_Price',
 'Store_Type']

In [169]:
Store_Type = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[28])],remainder="passthrough")
X = pd.DataFrame(Store_Type.fit_transform(X),columns = Store_Type.get_feature_names())

In [170]:
Store_Type.get_feature_names()

['encoder__x0_Grocery Store',
 'encoder__x0_Supermarket Type1',
 'encoder__x0_Supermarket Type2',
 'encoder__x0_Supermarket Type3',
 'encoder__x0_Cluster 1',
 'encoder__x0_Cluster 2',
 'encoder__x0_Cluster 3',
 'encoder__x0_High',
 'encoder__x0_Medium',
 'encoder__x0_Small',
 'encoder__x0_Baking Goods',
 'encoder__x0_Breads',
 'encoder__x0_Breakfast',
 'encoder__x0_Canned',
 'encoder__x0_Dairy',
 'encoder__x0_Frozen Foods',
 'encoder__x0_Fruits and Vegetables',
 'encoder__x0_Hard Drinks',
 'encoder__x0_Health and Hygiene',
 'encoder__x0_Household',
 'encoder__x0_Meat',
 'encoder__x0_Others',
 'encoder__x0_Seafood',
 'encoder__x0_Snack Foods',
 'encoder__x0_Soft Drinks',
 'encoder__x0_Starchy Foods',
 'encoder__x0_Low Sugar',
 'encoder__x0_Normal Sugar',
 'encoder__x0_Ultra Low Sugar',
 'Item_Weight',
 'Item_Visibility',
 'Item_Price']

In [171]:
X.head()

,encoder__x0_Grocery Store,encoder__x0_Supermarket Type1,encoder__x0_Supermarket Type2,encoder__x0_Supermarket Type3,encoder__x0_Cluster 1,encoder__x0_Cluster 2,encoder__x0_Cluster 3,encoder__x0_High,encoder__x0_Medium,encoder__x0_Small,...,encoder__x0_Seafood,encoder__x0_Snack Foods,encoder__x0_Soft Drinks,encoder__x0_Starchy Foods,encoder__x0_Low Sugar,encoder__x0_Normal Sugar,encoder__x0_Ultra Low Sugar,Item_Weight,Item_Visibility,Item_Price
0,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,1,0,0,11.6,0.068535,357.54
1,0,1,0,0,0,0,1,1,0,0,...,0,0,1,0,1,0,0,11.6,0.0409118,355.79
2,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,11.6,0.0411775,350.79
3,0,0,1,0,0,0,1,0,1,0,...,0,0,1,0,1,0,0,11.6,0.0411127,355.04
4,0,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,1,11.6,0,354.79

In [172]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# split data so we can scale the numerical variables

In [173]:
xx = X.iloc[:,:29]

In [174]:
xx.head()

,encoder__x0_Grocery Store,encoder__x0_Supermarket Type1,encoder__x0_Supermarket Type2,encoder__x0_Supermarket Type3,encoder__x0_Cluster 1,encoder__x0_Cluster 2,encoder__x0_Cluster 3,encoder__x0_High,encoder__x0_Medium,encoder__x0_Small,...,encoder__x0_Household,encoder__x0_Meat,encoder__x0_Others,encoder__x0_Seafood,encoder__x0_Snack Foods,encoder__x0_Soft Drinks,encoder__x0_Starchy Foods,encoder__x0_Low Sugar,encoder__x0_Normal Sugar,encoder__x0_Ultra Low Sugar
0,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
3,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
4,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [175]:
xy = X.iloc[:,29:]

In [176]:
xy

     Item_Weight Item_Visibility Item_Price
0           11.6        0.068535     357.54
1           11.6       0.0409118     355.79
2           11.6       0.0411775     350.79
3           11.6       0.0411127     355.04
4           11.6               0     354.79
...          ...             ...        ...
4985       12.15        0.145952     402.39
4986       12.15       0.0829557     410.14
4987       14.65       0.0835284     406.14
4988       14.65       0.0833594     404.89
4989       14.65        0.083489     403.39

[4990 rows x 3 columns]

In [177]:
scaler = MinMaxScaler()
normalised_X2 = pd.DataFrame(scaler.fit_transform(xy),columns =xy.columns)
X = pd.concat([xx,normalised_X2],axis = 1)

In [178]:
#concatenate the two dataframes
X = pd.concat([xx,normalised_X2],axis = 1)

# split the data into train and test sets

In [179]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [180]:
X_train.shape

(3992, 32)

In [181]:
X_test.shape

(998, 32)

In [182]:
y_train.shape

(3992,)

In [183]:
y_test.shape

(998,)

In [184]:
# using linear regression

In [185]:
from sklearn.linear_model import LinearRegression

In [186]:
reg = LinearRegression(n_jobs=4,copy_X=2)#instantiate a model object

In [187]:
reg.fit(X,y)#fit the model

LinearRegression(copy_X=2, n_jobs=4)

In [188]:
reg.score(X_test,y_test)#check accuracy of the model

0.5368762765838893

In [189]:
 predict = reg.predict(X_test)#predict the model

# root mean squared error

In [190]:
from sklearn.metrics import mean_squared_error

In [191]:
reg_rmse=np.sqrt(mean_squared_error(y_test,predict))
round(reg_rmse,3)

2986.342

# run all the above for the test data set

In [215]:
test = pd.read_csv("test(2).csv")
test.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type
0,DRA59,BABATUNJI010,DRA59_BABATUNJI010,8.270,Normal Sugar,0.214125,Soft Drinks,459.98,2005,NaN,Cluster 3,Grocery Store
1,DRA59,BABATUNJI013,DRA59_BABATUNJI013,8.270,Normal Sugar,0.127821,Soft Drinks,464.98,1994,High,Cluster 3,Supermarket Type1
2,DRB01,BABATUNJI013,DRB01_BABATUNJI013,7.390,Low Sugar,0.082171,Soft Drinks,477.38,1994,High,Cluster 3,Supermarket Type1
3,DRB13,BABATUNJI010,DRB13_BABATUNJI010,6.115,Normal Sugar,0.011791,Soft Drinks,472.63,2005,NaN,Cluster 3,Grocery Store
4,DRB13,BABATUNJI013,DRB13_BABATUNJI013,6.115,Normal Sugar,0.007038,Soft Drinks,473.13,1994,High,Cluster 3,Supermarket Type1

In [193]:
test.isnull().sum()

Item_ID                  0
Store_ID                 0
Item_Store_ID            0
Item_Weight            661
Item_Sugar_Content       0
Item_Visibility          0
Item_Type                0
Item_Price               0
Store_Start_Year         0
Store_Size             959
Store_Location_Type      0
Store_Type               0
dtype: int64

In [194]:
test.Item_Weight.mode()

0    15.85
dtype: float64

In [195]:
test.Store_Size.mode()

0    Medium
dtype: object

In [196]:
#weight
import numpy as np
from sklearn.impute import SimpleImputer
weigh_impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
test[["Item_Weight"]] = weigh_impute.fit_transform(test[["Item_Weight"]]) #fills with the mode

In [197]:
from sklearn.impute import SimpleImputer
size_impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
test[["Store_Size"]] = size_impute.fit_transform(test[["Store_Size"]]) #fills with the mode

In [198]:
test.isnull().sum()

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
dtype: int64

In [199]:
test = test.drop(["Item_ID","Store_ID","Item_Store_ID","Store_Start_Year"],axis = "columns")

In [200]:
test.head()

,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Size,Store_Location_Type,Store_Type
0,8.270,Normal Sugar,0.214125,Soft Drinks,459.98,Medium,Cluster 3,Grocery Store
1,8.270,Normal Sugar,0.127821,Soft Drinks,464.98,High,Cluster 3,Supermarket Type1
2,7.390,Low Sugar,0.082171,Soft Drinks,477.38,High,Cluster 3,Supermarket Type1
3,6.115,Normal Sugar,0.011791,Soft Drinks,472.63,Medium,Cluster 3,Grocery Store
4,6.115,Normal Sugar,0.007038,Soft Drinks,473.13,High,Cluster 3,Supermarket Type1

In [201]:
#encoding the categorical variables
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [202]:
region = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[1])],remainder="passthrough")
test = pd.DataFrame(region.fit_transform(test),columns = region.get_feature_names())

In [203]:
item_type = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[5])],remainder="passthrough")
test= pd.DataFrame(item_type.fit_transform(test),columns = item_type.get_feature_names())

In [204]:
store = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[22])],remainder="passthrough")
test = pd.DataFrame(store.fit_transform(test),columns = store.get_feature_names())

In [205]:
s = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[25])],remainder="passthrough")
test = pd.DataFrame(s.fit_transform(test),columns = s.get_feature_names())

In [206]:
st = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[28])],remainder="passthrough")
test = pd.DataFrame(st.fit_transform(test),columns = st.get_feature_names())

In [207]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [208]:
xx = test.iloc[:,:29]

In [209]:
xy = test.iloc[:,29:]

In [210]:
scaler = MinMaxScaler()

normalised_X2 = pd.DataFrame(scaler.fit_transform(xy),columns =xy.columns)
test = pd.concat([xx,normalised_X2],axis = 1)

In [211]:
test.head()

,encoder__x0_Grocery Store,encoder__x0_Supermarket Type1,encoder__x0_Supermarket Type2,encoder__x0_Supermarket Type3,encoder__x0_Cluster 1,encoder__x0_Cluster 2,encoder__x0_Cluster 3,encoder__x0_High,encoder__x0_Medium,encoder__x0_Small,...,encoder__x0_Seafood,encoder__x0_Snack Foods,encoder__x0_Soft Drinks,encoder__x0_Starchy Foods,encoder__x0_Low Sugar,encoder__x0_Normal Sugar,encoder__x0_Ultra Low Sugar,Item_Weight,Item_Visibility,Item_Price
0,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,1,0,0.221197,0.666818,0.648143
1,0,1,0,0,0,0,1,1,0,0,...,0,0,1,0,0,1,0,0.221197,0.398055,0.656633
2,0,1,0,0,0,0,1,1,0,0,...,0,0,1,0,1,0,0,0.168800,0.255893,0.677686
3,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,1,0,0.092885,0.036718,0.669621
4,0,1,0,0,0,0,1,1,0,0,...,0,0,1,0,0,1,0,0.092885,0.021919,0.670470

In [212]:
predict = reg.predict(test)

In [213]:
predict

array([3616., 7328., 7328., ..., 9280., 3552., 7072.])

In [216]:
tests = pd.DataFrame(predict,test.Item_Store_ID)

In [217]:
tests.head()

                         0
Item_Store_ID
DRA59_BABATUNJI010  3616.0
DRA59_BABATUNJI013  7328.0
DRB01_BABATUNJI013  7328.0
DRB13_BABATUNJI010  4032.0
DRB13_BABATUNJI013  7616.0